<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.mapper.UnionGoodsMapper">
  <resultMap id="BaseResultMap" type="com.xy.models.UnionGoods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="shop_uuid" jdbcType="CHAR" property="shopUuid" />
    <result column="good_no" jdbcType="VARCHAR" property="goodNo" />
    <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="cat_id" jdbcType="VARCHAR" property="catId" />
    <result column="cat_name" jdbcType="VARCHAR" property="catName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="thumb_img" jdbcType="VARCHAR" property="thumbImg" />
    <result column="more_img" jdbcType="VARCHAR" property="moreImg" />
    <result column="des_file" jdbcType="VARCHAR" property="desFile" />
    <result column="sale_num" jdbcType="INTEGER" property="saleNum" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="if_coin" jdbcType="INTEGER" property="ifCoin" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="org_price" jdbcType="DECIMAL" property="orgPrice" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="rebut" jdbcType="VARCHAR" property="rebut" />
  </resultMap>



  <sql id="shopDetails_Column_List">
    goods.uuid, goods.shop_uuid, goods.good_no, goods.brand_id, goods.brand_name, goods.cat_id, goods.cat_name, goods.name, goods.thumb_img, goods.more_img, goods.des_file, goods.sale_num, goods.status, goods.if_coin, goods.shop_name, goods.org_price, goods.price, goods.balance, goods.stock, goods.rebut, goods.update_time, goods.add_time,
    <include refid="range_term" />
    as torange
  </sql>

  <sql id="range_term">
    (2 * ASIN(SQRT(POWER(SIN((latitude - #{lat, jdbcType=DECIMAL}) * 3.14159265359 / 180 / 2), 2) +
    COS(latitude * 3.14159265359 / 180) * COS(#{lat, jdbcType=DECIMAL} * 3.14159265359 / 180) *
    POWER(SIN((longitude - #{log, jdbcType=DECIMAL}) * 3.14159265359 / 180 / 2), 2))) * 6378.137 * 1000)
  </sql>

  <select id="searchShopDetails" parameterType="Map" resultMap="BaseResultMap">
    SELECT
    <include refid="shopDetails_Column_List" />
    FROM shop
    INNER JOIN union_goods as goods ON shop.uuid = goods.shop_uuid
    WHERE 1=1
    <if test="name != null and name != ''">
      AND
      shop.status = 'online' AND
      (
      (shop.name LIKE concat(concat('%',#{name}),'%') OR shop.shop_cat_name LIKE concat(concat('%',#{name}),'%'))
      OR
      ((goods.name LIKE concat(concat('%',#{name}),'%')) AND goods.status='online')
      )
    </if>
    <if test="shopCatId != null and shopCatId != ''">
      AND shop_cat_id = #{shopCatId, jdbcType=VARCHAR}
    </if>
    <if test="distance != null and distance != ''">
      and <include refid="range_term" /> &lt;= #{distance,jdbcType=DECIMAL}
    </if>
    <if test="orderBy == 0">
      ORDER BY torange DESC
    </if>
    <if test="orderBy == 1">
      ORDER BY total_sale_num desc
    </if>
    LIMIT #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>

</mapper>